<div class="container">
  <button class="level-1 rectangle" (click)="msgAlert('CEO')">CEO</button>
  
  <ol class="level-2-wrapper">
    <li>
      <button (click)="msgAlert('Director A')"  class="level-2 rectangle">Director A</button>
      <ol class="level-3-wrapper">
        <li>
          <button (click)="msgAlert('Manager A')" class="level-3 rectangle">Manager A</button>
          <ol class="level-4-wrapper">
            <li>
              <button (click)="msgAlert('Person A')" class="level-4 rectangle">Person A</button>
            </li>
            <li>
              <button (click)="msgAlert('Person B')" class="level-4 rectangle">Person B</button>
            </li>
            <li>
              <button (click)="msgAlert('Person C')" class="level-4 rectangle">Person C</button>
            </li>
            <li>
              <button (click)="msgAlert('Person D')" class="level-4 rectangle">Person D</button>
            </li>
          </ol>
        </li>
        <li>
          <button (click)="msgAlert('Manager B')" class="level-3 rectangle">Manager B</button>
          <ol class="level-4-wrapper">
            <li>
              <button (click)="msgAlert('Person A')" class="level-4 rectangle">Person A</button>
            </li>
            <li>
              <button (click)="msgAlert('Person B')" class="level-4 rectangle">Person B</button>
            </li>
            <li>
              <button (click)="msgAlert('Person C')" class="level-4 rectangle">Person C</button>
            </li>
            <li>
              <button (click)="msgAlert('Person D')" class="level-4 rectangle">Person D</button>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <button (click)="msgAlert('Director B')" class="level-2 rectangle">Director B</button>
      <ol class="level-3-wrapper">
        <li>
          <button (click)="msgAlert('Manager C')" class="level-3 rectangle">Manager C</button>
          <ol class="level-4-wrapper">
            <li>
              <button (click)="msgAlert('Person A')" class="level-4 rectangle">Person A</button>
            </li>
            <li>
              <button (click)="msgAlert('Person B')" class="level-4 rectangle">Person B</button>
            </li>
            <li>
              <button (click)="msgAlert('Person C')" class="level-4 rectangle">Person C</button>
            </li>
            <li>
              <button  (click)="msgAlert('Person D')" class="level-4 rectangle">Person D</button>
            </li>
          </ol>
        </li>
        <li>
          <button (click)="msgAlert('Manager D')" class="level-3 rectangle">Manager D</button>
          <ol class="level-4-wrapper">
            <li>
              <button (click)="msgAlert('Person A')" class="level-4 rectangle">Person A</button>
            </li>
            <li>
              <button (click)="msgAlert('Person B')" class="level-4 rectangle">Person B</button>
            </li>
            <li>
              <button (click)="msgAlert('Person C')" class="level-4 rectangle">Person C</button>
            </li>
            <li>
              <button (click)="msgAlert('Person D')" class="level-4 rectangle">Person D</button>
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</div>

